@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.settings-page {
  &__wrapper {
    @include flex-it(row, nowrap, center, stretch);
  }
  &__container {
    width: 100%;
    background-color: $off-white;
    border-radius: $ui-border-radius;
    
    @include flex-it (row, nowrap, flex-start, stretch);
    &--dark {
      background-color: $primary-text;
      color: $off-white;
    }
  }
}

.settings {
  &__menu-bar {
    height: 100%;
    width: 30%;
    // border-right: 1px solid $mercury;
    border-radius: $ui-border-radius;
    @include box-shadow();
    padding: 1rem;
    overflow: hidden;
  }
  &__sub-menu {
    padding: 1rem;
    height: 100%;
    width: 70%;
  }
  &__menu-tab {
    &-link {
      width: 100%;
      text-align: center;
      border-radius: $ui-border-radius;
      margin-bottom: 1.5rem;
      padding: 0.5rem 0;
      display: block;
      transition: 0.5s;
      &:hover {

      }
      &--selected {
        @include box-shadow();
      }
    }
    &-text {

    }
  }
}