@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.settings-page {
  &__wrapper {
    @include flex-it(row, nowrap, center, stretch);
  }
  &__container {
    width: 100%;
    background-color: $primary-text;
    border-radius: $ui-border-radius;
  }
}