
// Primary colors

$light-grey: #EEEEEE;
$off-white: #FAF8F9;
$primary-text: #323232;
$primary-CTA: #71c0f5;
$silver: #AFAFAF;
$white: #FFFFFF;

//Secondary colors

$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$menu-background: #ffffffb6;
$menu-background-dark: #232323d7;
$settings-menu-button: rgba(195, 195, 195, 0.13);