@font-face {
  font-family: 'Nunito';
  src: url('../../assets/fonts/Nunito-SemiBold.eot');
  src: url('../../assets/fonts/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Nunito-SemiBold.woff2') format('woff2'),
      url('../../assets/fonts/Nunito-SemiBold.woff') format('woff'),
      url('../../assets/fonts/Nunito-SemiBold.ttf') format('truetype'),
      url('../../assets/fonts/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../assets/fonts/Nunito-Regular.eot');
  src: url('../../assets/fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Nunito-Regular.woff2') format('woff2'),
      url('../../assets/fonts/Nunito-Regular.woff') format('woff'),
      url('../../assets/fonts/Nunito-Regular.ttf') format('truetype'),
      url('../../assets/fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../assets/fonts/Nunito-Bold.eot');
  src: url('../../assets/fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Nunito-Bold.woff2') format('woff2'),
      url('../../assets/fonts/Nunito-Bold.woff') format('woff'),
      url('../../assets/fonts/Nunito-Bold.ttf') format('truetype'),
      url('../../assets/fonts/Nunito-Bold.svg#Nunito-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../assets/fonts/Nunito-ExtraBold.eot');
  src: url('../../assets/fonts/Nunito-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Nunito-ExtraBold.woff2') format('woff2'),
      url('../../assets/fonts/Nunito-ExtraBold.woff') format('woff'),
      url('../../assets/fonts/Nunito-ExtraBold.ttf') format('truetype'),
      url('../../assets/fonts/Nunito-ExtraBold.svg#Nunito-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
