@use "./variables" as *;
@use "./colors" as *;


@mixin tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin flex-it ($row: row, $wrap: nowrap, $justify: flex-start, $align: stretch ) {
  display: flex;
  flex-direction: $row;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin box-shadow() {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

@mixin inset-shadow {
  box-shadow:
    rgba(5, 5, 11, 0.2) 0px 8px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 6px 36px 5px inset;
}
