@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.links-page {
  width: 100%;
  background-color: $primary-text;
  min-height: 100vh;
  &__wrapper {
    min-height: 95vh;
    @include flex-it(column, nowrap, center, center);
  }
}