@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.links-page {
  &__wrapper {
    min-height: 95vh;
    padding:7rem 1rem 0 1rem;
    width: 100%;
    @include flex-it(column, nowrap, center, center);
    @include desktop {
      padding: 9rem 0 0 0;
    }
  }
}