@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.main {
  width: 100%;
  background-color: #323232;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

